.panel-header {
  height: 55px;
  transition: all 0.0001s ease-out;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.expand-button {
  height: 60px;
  font-size: 20px;
  border: none;
  box-shadow: none;
  padding-bottom: 65px;
  border-radius: 0;
}

.header-link {
  height: 22px;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-left: 20px;
  margin-top: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.header-color {
  height: 4px;
}

.expanded-panel {
  background-color: rgba(227, 227, 227, 0.5);
}
